<!DOCTYPE html>
<html ng-app="lemonade">
<head>
  <meta charset="UTF-8">
  <title>LEMONADE</title>
  <link rel="icon"
      type="image/png"
      href="images/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=BenchNine:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="mainController">
  <div class="titleContainer text-center title">
    <img class="img-responsive" src="images/lemonade.gif">
    <div class="titleText">
      <h1 id="title">LEMONADE</h1>
      <h1>BEYONCÉ INSPIRED COLOR PALETTES</h1>
      <h2><em>"I had my ups and downs, but I always found the inner strength to pull myself up. I was served lemons, but I made lemonade."</em></h2>
      <span id="mainArrow" class="text-center glyphicon glyphicon-chevron-down" title="click arrows to navigate page"></span>
    </div>
  </div>
  <div id="one" class="imageContainer">
    <img src="images/lemonade1.jpg" class="img-responsive center-block" title="click color palette to reveal hex codes">
    <img src="images/image1palette.png" class="palette img-responsive center-block" ng-click="toggleHex()" title="click color palette to reveal hex codes">
    <table class="table-responsive" ng-show="showme">
      <td>#FFFBE7</td>
      <td>#C49B6F</td>
      <td>#3F291B</td>
      <td>#180E0D</td>
      <td>#650008</td>
    </table>
    <h4 class="text-center">
    <span id="oneDown" class="arrows text-center glyphicon glyphicon-chevron-down" title="click arrows to navigate page"></span></h4>
  </div>
  <div id="two" class="imageContainer">
    <img src="images/lemonade.jpg" class="img-responsive center-block" title="click color palette to reveal hex codes">
    <img src="images/image2palette.png" class="palette img-responsive center-block" ng-click="toggleHex2()" title="click color palette to reveal hex codes">
    <table class="table-responsive" ng-show="showme2">
      <td>#7E8981</td>
      <td>#AACBC0</td>
      <td>#63545B</td>
      <td>#0F1724</td>
      <td>#669187</td>
    </table>
    <h4 class="text-center">
    <span id="twoDown" class="arrows text-center glyphicon glyphicon-chevron-down" title="click arrows to navigate page"></span></h4>
  </div>
  <div id="three" class="imageContainer">
    <img src="images/lemonade2.jpg" class="img-responsive center-block" title="click color palette to reveal hex codes">
    <img src="images/image3palette.png" class="palette img-responsive center-block" ng-click="toggleHex3()" title="click color palette to reveal hex codes">
    <table class="table-responsive" ng-show="showme3">
      <td>#687877</td>
      <td>#444B55</td>
      <td>#777D63</td>
      <td>#7F9A87</td>
      <td>#11133A</td>
    </table>
    <h4 class="text-center">
    <span id="threeDown" class="arrows text-center glyphicon glyphicon-chevron-down" title="click arrows to navigate page"></span></h4>
  </div>
  <div id="four" class="imageContainer">
    <img src="images/lemonade3.jpg" class="img-responsive center-block" title="click color palette to reveal hex codes">
    <img src="images/image4palette.png" class="palette img-responsive center-block" ng-click="toggleHex4()" title="click color palette to reveal hex codes">
    <table class="table-responsive" ng-show="showme4">
      <td>#3E3C41</td>
      <td>#BEA591</td>
      <td>#8A908E</td>
      <td>#70534D</td>
      <td>#AF7009</td>
    </table>
    <h4 class="text-center">
    <span id="fourDown" class="arrows text-center glyphicon glyphicon-chevron-down" title="click arrows to navigate page"></span></h4>
  </div>
  <div id="five" class="imageContainer">
    <img src="images/lemonade4.jpg" class="img-responsive center-block" title="click color palette to reveal hex codes">
    <img src="images/image5palette.png" class="palette img-responsive center-block" ng-click="toggleHex5()" title="click color palette to reveal hex codes">
    <table class="table-responsive" ng-show="showme5">
      <td>#78787A</td>
      <td>#0D0B0E</td>
      <td>#BDBBBE</td>
      <td>#343235</td>
      <td>#A5A5A7</td>
    </table>
    <h4 class="text-center">
    <span id="fiveDown" class="arrows text-center glyphicon glyphicon-chevron-down" title="click arrows to navigate page"></span></h4>
  </div>
  <div id="six" class="imageContainer">
    <img src="images/lemonade13.jpg" class="img-responsive center-block" title="click color palette to reveal hex codes">
    <img src="images/image6palette.png" class="palette img-responsive center-block" ng-click="toggleHex6()" title="click color palette to reveal hex codes">
    <table class="table-responsive" ng-show="showme6">
      <td>#47493B</td>
      <td>#202B2F</td>
      <td>#6D5F54</td>
      <td>#608387</td>
      <td>#134C5F</td>
    </table>
    <h4 class="text-center">
    <span id="sixDown" class="arrows text-center glyphicon glyphicon-chevron-down" title="click arrows to navigate page"></span></h4>
  </div>
  <div id="seven" class="imageContainer">
    <img src="images/lemonade11.jpg" class="img-responsive center-block" title="click color palette to reveal hex codes">
    <img src="images/image7palette.png" class="palette img-responsive center-block" ng-click="toggleHex7()" title="click color palette to reveal hex codes">
    <table class="table-responsive" ng-show="showme7">
      <td>#C9540F</td>
      <td>#2C110A</td>
      <td>#DC6F44</td>
      <td>#B23B10</td>
      <td>#FFD871</td>
    </table>
    <h4 class="text-center">
    <span id="sevenDown" class="arrows text-center glyphicon glyphicon-chevron-down" title="click arrows to navigate page"></span></h4>
  </div>
  <div id="eight" class="imageContainer">
    <img src="images/lemonade5.jpg" class="img-responsive center-block" title="click color palette to reveal hex codes">
    <img src="images/image8palette.png" class="palette img-responsive center-block" ng-click="toggleHex8()" title="click color palette to reveal hex codes">
    <table class="table-responsive" ng-show="showme8">
      <td>#1D271E</td>
      <td>#881E06</td>
      <td>#BE753E</td>
      <td>#19110F</td>
      <td>#FBE4B5</td>
    </table>
    <h4 class="text-center">
    <span id="eightDown" class="arrows text-center glyphicon glyphicon-chevron-down" title="click arrows to navigate page"></span></h4>
  </div>
  <div id="nine" class="imageContainer">
    <img src="images/lemonade9.jpg" class="img-responsive center-block" title="click color palette to reveal hex codes">
    <img src="images/image9palette.png" class="palette img-responsive center-block" ng-click="toggleHex9()" title="click color palette to reveal hex codes">
    <table class="table-responsive" ng-show="showme9">
      <td>#194A68</td>
      <td>#FFF8F2</td>
      <td>#3B4F50</td>
      <td>#738C79</td>
      <td>#684E37</td>
    </table>
    <h4 class="text-center">
    <span id="nineDown" class="arrows text-center glyphicon glyphicon-chevron-down" title="click arrows to navigate page"></span></h4>
  </div>
  <div id="ten" class="imageContainer">
    <img src="images/lemonade10.jpg" class="img-responsive center-block" title="click color palette to reveal hex codes">
    <img src="images/image10palette.png" class="palette img-responsive center-block" ng-click="toggleHex10()" title="click color palette to reveal hex codes">
    <table class="table-responsive" ng-show="showme10">
      <td>#2C334D</td>
      <td>#664649</td>
      <td>#D1CCC9</td>
      <td>#0E1424</td>
      <td>#395755</td>
    </table>
    <h4 class="text-center">
    <span id="tenDown" class="arrows text-center glyphicon glyphicon-chevron-down" title="click arrows to navigate page"></span></h4>
  </div>
  <div id="eleven" class="imageContainer">
    <img src="images/lemonade11.jpg" class="img-responsive center-block" title="click color palette to reveal hex codes">
    <img src="images/image7palette.png" class="palette img-responsive center-block" ng-click="toggleHex11()" title="click color palette to reveal hex codes">
    <table class="table-responsive" ng-show="showme11">
      <td>#32373D</td>
      <td>#AEAC97</td>
      <td>#D1BF9B</td>
      <td>#090C15</td>
      <td>#24364E</td>
    </table>
    <h4 class="text-center">
    <span id="elevenDown" class="arrows text-center glyphicon glyphicon-chevron-down" title="click arrows to navigate page"></span></h4>
  </div>
  <div id="twelve" class="imageContainer">
    <img src="images/lemonade12.jpg" class="img-responsive center-block" title="click color palette to reveal hex codes">
    <img src="images/image12palette.png" class="palette img-responsive center-block" ng-click="toggleHex12()" title="click color palette to reveal hex codes">
    <table class="table-responsive" ng-show="showme12">
      <td>#62463B</td>
      <td>#0A2735</td>
      <td>#6C4F3F</td>
      <td>#692735</td>
      <td>#350D0B</td>
    </table>
    <h4 class="text-center">
    <span id="twelveDown" class="arrows glyphicon glyphicon-chevron-down" title="click arrows to navigate page"></span></h4>
  </div>
  <div id="thirteen" class="imageContainer">
    <img src="images/lemonade7.jpg" class="img-responsive center-block" title="click color palette to reveal hex codes">
    <img src="images/image13palette.png" class="palette img-responsive center-block" ng-click="toggleHex13()" title="click color palette to reveal hex codes">
    <table class="table-responsive" ng-show="showme13">
      <td>#090F0F</td>
      <td>#42312A</td>
      <td>#2C2A2F</td>
      <td>#1F0E06</td>
      <td>#564938</td>
    </table>
    <br>
    <h4 class="text-center">BACK TO TOP<br>
    <span id="thirteenUp" class="arrows glyphicon glyphicon-chevron-up" title="click arrows to navigate page"></span></h4>
  </div>
  <footer>
      <h4>&#169; Teisia Park</h4>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
</body>
</html>
