body {
  font-family: 'BenchNine', sans-serif;
  color: black;
}

.titleContainer img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: -1000;
  opacity: .7;
}

.titleContainer {
  height: 100vh;
  margin-bottom: -20rem;
}

.titleText {
  margin-top: 20rem;
}

#title {
  font-size: 12rem;
}

#mainArrow {
  margin-top: 20rem;
  font-size: 4rem;
}

.arrows {
  font-size: 2.5rem;
}

.imageContainer {
  height: 100vh;
}

.imageContainer img {
  margin-top: 2rem;
  z-index: 0;
}

.palette {
  width: 990px;
  height: 80px;
  margin: 1rem auto;
  z-index: 1;
}

table {
  font-size: 2.5rem;
  margin-right: auto;
  margin-left: auto;
}

td {
  padding: 0 6.5rem;
}

footer {
  left: 0;
  bottom: 0;
  color: black;
  text-align: center;
  padding-top: 10px;
}

@media screen and (max-width:48em) {
  td {
    padding: 0;
  }

  footer {
    padding-top: 0;
  }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    td {
      padding: 0;
    }

    footer {
      padding-top: 0;
    }
  }
